@use '../abstracts/' as *;

.btn-archive {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 0.5rem;
  &::before {
    content: '';
    width: 2rem;
    aspect-ratio: 1;
    @include background('ico_archive.svg', center, null, 'size', 'contain');
    // background: url(/images/ico_arcnhive.svg) no-repeat center / contain;
    .utility & {
      @include background(
        'ico_arcnhive_white.svg',
        center,
        null,
        'size',
        'contain'
      );
    }
    .utility & {
      color: #fff;
    } // 부모가 utility 클래스일 때 색상 변경
  }
  .btn-calendar {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 0.5rem;
    &::before {
      content: '';
      width: 2rem;
      aspect-ratio: 1;
      @include background('ico_calendar.svg', center, null, 'size', 'contain');

      .utility & {
        @include background(
          'ico_calendar_white.svg',
          center,
          null,
          'size',
          'contain'
        );
      } // 부모가 utility 클래스일 때 흰색 아이콘 사용
    }
    .utility & {
      color: #fff;
    }
  }
}
