@use 'sass:list';

.familysite {
  $colors: red, green, orange, purple, skyblue;

  display: flex;
  gap: 2rem;
  a {
    font-size: 4rem;
    font-weight: 800;
  }

  li {
    transition: 0.3s;
    @each $color in $colors {
      $index: index($colors, $color);
      &:nth-child(#{$index}):hover {
        color: $color;
      }
    }
  }
}
