@use '../variables' as *;
@use 'sass:meta';

@mixin background(
  $filename,
  $coordinates: null,
  $color: null,
  $option: null,
  $value: null,
  $size: null
) {
  @if meta.type-of($filename) != string or $filename == '' or $filename == () {
    @error '이미지는 파일명.확장자까지 입력해야 합니다. 예) ico_archive.svg';
  }

  background: url('#{$imgUrl}#{$filename}') no-repeat $coordinates $color $size;
  background-size: size;

  @if $option == 'size' {
    background-size: $value;
  } @else if $option == 'origin' {
    background-origin: $value;
  } @else if $option == 'clip' {
    background-clip: $value;
  }
}
